.card {
    width: 207px;
    height: 265px;
    background-color: var(--gray);
    padding: 10px 15px;
    border-radius: 23px;
    position: relative;

    .img {
        width: 175px;
        height: 175px;
        margin-bottom: 5px;
        border-radius: 8px;
    }
    h3 {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
    }
    p {
        font-size: 0.879rem;
        font-weight: 400;
    }
    a {
        font-weight: 400;
        font-size: 0.75rem;
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    a:hover {
        color: #0A9254;
    }

}